body {
    background-color: #f1f1f1;
    font-family: Consolas;
}
body.resume {
    width: 816px;
    padding-left: 15px;
}
.index {
    margin: auto;
    text-align: center;
    padding: 200px;
}

.projects {

}

p {
    font-size: small;
    font-style: normal;
}

a {
    color: #3a4f41;
}
ul {
    font-size: small;
    list-style-type: circle;
}
