@media (min-width: 1025px) {
    body {
        background-color: #E6DFD3;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #434341;
        margin: auto;
        max-width: 700px;
        overflow-x: hidden;
    }

    nav {
        margin-left: auto;
    }

    .index {
        text-align: left;
      }

    p {
        font-size: 1rem;
        font-style: normal;
        line-height: 1.5;
    }

    h1 {
        font-size: 3rem;
        color: #0351c7ff
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.17rem;
    }

    h4 {
         font-size: 1rem;
    }
    a {
        color: #0351c7ff;
        text-decoration: none;
        font-size: 1rem;
        font-style: normal;
        line-height: 1.5;
    }

    a:hover {
        color: #a50104ff
    }
    ul {
        font-size: small;
        list-style-type: circle;
        font-size: 1rem;
        font-style: normal;
        line-height: 1.5;
    }
}
@media (max-width: 768px) {
    body {
        background-color: #E6DFD3;
        font-family: sans-serif;
        color: #434341;
        width: 90%;
        margin: 0%;
        padding: 0.75rem;
    }
    
    nav {
        margin-left: auto;
    }
    
    .index {
        text-align: left;
    }

    h1 {
        font-size: 1.5rem;
        color: #0351c7ff
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: .75rem;
    }

    p {
        font-size: .875rem;
        font-style: normal;
        line-height: 1.5;
    }
    
    a {
        color: #434341;
        text-decoration: none;
        font-size: .875rem;
        font-style: normal;
        line-height: 1.5;
    }
    
    a:hover {
        color: #a50104ff
    }
    ul {
        font-size: .875rem;
        list-style-type: circle;
        font-style: normal;
        line-height: 1.5;
    }
}
